name: npm-publish
on:
    push:
        branches:
            - master
            - develop
        tags:
            - '*'

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
    npm-publish:
        if: github.ref_type == 'tag'
        name: npm-publish
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0 # get full History to make sure tags are included an thus git-describe works
            - uses: actions/setup-node@v6
              with:
                  node-version: '24'
            - run: npm install
            - run: npm run setuppublish
            - run: npm publish dist --tag latest
    npm-publish_prerelease:
        if: github.ref_type != 'tag'
        name: npm-publish-prerelease
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0 # get full History to make sure tags are included an thus git-describe works
            - uses: actions/setup-node@v6
              with:
                  node-version: '24'
            - run: npm install
            - run: npm run setuppublish
            - run: npm publish dist --tag next
