name: npm-publish
on:
    push:
        branches:
            - master
            - develop
        tags:
            - '*'
jobs:
    npm-publish:
        if: github.ref_type == 'tag'
        name: npm-publish
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0 # get full History to make sure tags are included an thus git-describe works
            - uses: actions/setup-node@v6
              with:
                  node-version: '24'
            - run: npm install
            - run: npm run setuppublish
            - name: Publish release
              uses: JS-DevTools/npm-publish@v4.1.1
              with:
                  token: ${{ secrets.NPM_AUTH_TOKEN }}
                  package: dist/package.json
                  tag: latest
    npm-publish_prerelease:
        if: github.ref_type != 'tag'
        name: npm-publish-prerelease
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0 # get full History to make sure tags are included an thus git-describe works
            - uses: actions/setup-node@v6
              with:
                  node-version: '24'
            - run: npm install
            - run: npm run setuppublish
            - name: Publish prerelease
              uses: JS-DevTools/npm-publish@v4.1.1
              with:
                  token: ${{ secrets.NPM_AUTH_TOKEN }}
                  package: dist/package.json
                  tag: next